autoload/db.autoload.php

.idea/vcs.xml

.idea/.name

.idea/encodings.xml

.idea/erp.librairielabourse.fr.iml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/workspace.xml

/vendor/

ssl/ios_ck.pem
